
.DS_Store

.Rhistory

*.svg
*.Rproj*
/cache/*
output/correlations_samples.RData

output/final_model_samples.RData

manuscript.tex

manuscript-concordance.tex

manuscript.log

manuscript.synctex.gz

manuscript.aux

manuscript.blg

manuscript.out

manuscript_full.aux

manuscript_full.blg

manuscript_full.log

manuscript_full.out

manuscript_full.tex

library.bib
